<section class="content-header">
    <div class="container-fluid">
        <div  class="row mb-2">
            <div class="col-sm-9">
                <h1>Đổi mật khẩu</h1>
            </div>
           
        </div>   
        <div class="row"> </div>   
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form  method="post"  >
                        <div class="container1">
                            <div class="row">
                                <div class="col">
                                    {{#if messageSuccess}}
                                        <div class="alert alert-success">
                                            {{messageSuccess}}
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-12 form-group" >
                                    <label><b>Mật khẩu cũ (*)</b></label>
                                    <input class="form-control" id="exampleFormControlInput1" name="oldPassword"  type="password"  required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-12 form-group">
                                    <label><b>Mật khẩu mới (*)</b></label>
                                    <input name="newPassword" class="form-control" id="exampleFormControlInput1"  type="password" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-12 form-group">
                                    <label><b>Nhập lại mật khẩu mới (*)</b></label>
                                    <input class="form-control" id="exampleFormControlInput1" name="renewPassword" type="password" required>                 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    {{#if message}}
                                        <div class="alert alert-danger">
                                            {{message}}
                                        </div>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="row py-5">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-12">
                                    <a href="/home/listbook" class="btn btn-primary">
                                        <i class="fas fa-angle-double-left"></i>
                                        Trở lại danh sách
                                    </a>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-12 ">
                                <button type="submit" class="btn btn-success">
                                        <i class="fas fa-check-circle"></i> 
                                        Lưu mật khẩu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>    
            </div>
        </div>
    </div>
</section>

  