body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.top-buffer { margin-top:20px; }

.thumbnail .price{
  font-weight: bold;
}


* {
  box-sizing: border-box;
}


/* Add styles to the form container */
.container1 {
  
  align:"center";
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 80%;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */


.btn-add:hover {
  opacity: 1;
}

.Cdiv{
  padding-left: 12px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  width: 100%;
  font-weight: normal;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.size__cover{
  width: 270px;
  height: 340px;
}
